<h1>Edit Book</h1>
<form method="post" action="/catalogue/<%= @book.id %>/update-book" autocomplete="off">
  <label for="name-field">Book name:</label><br>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @book.name %>"
  /><br>

  <label for="edition-field">Edition:</label><br>
  <input
  type="text"
  name="edition"
  id="edition-field"
  value="<%= @book.edition %>"
  /><br>

  <input type='submit' value="Update Book">
</form>
