<h1>Add New Book</h1>
<form action="/catalogue/create-book" method="post" autocomplete="off">
  <label for="name">Book name: </label><br>
    <input
    type="text"
    name="name"
    id="name"><br>

  <label for="edition">Book edition</label><br>
    <input type="text" name="edition" id="edition"><br>

  <input type="submit" value="Submit">

</form>
