<h1>Sheet Music Catalogue</h1>

<p>This is a catalogue of all the sheet music that you own.</p>
<p>You may use the Navigation Bar at the top to navigate through this website. Here is an explanation of each action you can take on the Navigation Bar.</p>

<h2>Viewing your Catalogue</h2>
  <ul>
  <li>Home</li>
  <li>Full Catalogue</li>
  <li>All Pieces in Catalogue</li>
  </ul>
<p>Home takes you to this page.</p>
<p>Full Catalogue shows you a list of all the Books in your collection, as well as which Pieces may be found in the book.</p>
<p>All Pieces in Catalogue shows you a list of all the Pieces in your collection, as well as the Books in which they may be found.</p>

<h2>Adding New Entries to your Catalogue</h2>
  <ul>
    <li>Add New Book</li>
    <li>Create New Piece</li>
    <li>Add Piece to Book</li>
  </ul>
<p>Add New Book allows you to create a new Book in your collection. The Book's Name and Edition are required.</p>
<p>Create New Piece allows you to create a new Piece in your collection.
  The Piece's Name, Suite, Movement, Catalogue Prefix, Opus and Number, and Composer are required.
  Note, however, that if a piece does not belong to a Suite, or the composer's works do not have a Catalogue Prefix, these fields may be left blank.
  Also, if the Piece does not have a Movement, Opus or Work Number, these fields may be left as zero.</p>
<p>Add Piece to Book allows you to put a Piece into a Book. This way, when you look at the Full Catalogue and All Pieces in Catalogue pages,
you will be able to see which Pieces a Book contains, and which Books contain which Pieces.</p>

<h2>Editing Existing Entries</h2>
<p>To edit the details of a specific Book, you must go to the Full Catalogue page, and then find the Book you wish to edit. Then, you must click the Edit
Book button and update the Book's details.</p>
<p>To edit the details of a specific Piece, you must go to the All Pieces in Catalogue page, and then find the Piece you wish to edit. Then you must click
the Edit Piece button and update the Piece's details. Note that if the Movement, Opus or Number fields were left blank, they will now contain 0. If you
wish for them to remain blank, leaving them as zero is fine.</p>

<h2>Deleting Entries</h2>
<p>To delete a Book, go to the Full Catalogue page and click the Delete Book button underneath it.</p>
<p>To delete a Piece, go to the All Pieces in Catalogue page and click the Delete Piece button underneath it</p>

<h2>Removing the Relationship between a Book and a Piece</h2>
<p>To remove a Piece from a specific Book, go to that Book on the Full Catalogue page and click Remove Piece from This Book under the Piece you wish to remove.
 Or, go to the All Pieces in Catalogue and find the Piece you wish to remove. Then, click Remove Piece from This Book under the Book you wish to remmove the piece from.</p>
