<h1>Sheet Music Catalogue</h1>
<p>This is a catalogue of music books.</p>
<p>You may Add New Books, Add New Pieces and make relationships between Books and Pieces.</p>
<p>However, please take caution when deleting books.</p>
<p>If you delete a Book which contains the last instance of a Piece in your catalogue, the Piece will also be deleted from the catalogue.</p>
<p>As an example:</p>
<p>You have Chopin's Mazurka in C in ABRSM Chopin Mazurkas and ABRSM Piano Exam Pieces 2015-2016. You then delete ABRSM Chopin Mazurkas from your catalogue.</p>
<p>In this case, Mazurka in C will remain in your catalogue as a Piece because it still exists in the ABRSM Piano Exam Pieces 2015-2016 Book.</p>
<p>However, if you then delete ABRSM Piano Exam Pieces 2015-2016 from your Books, Mazurka in C will be deleted from your Pieces, as it no longer exists inside any of the books you own.</p>
