<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <div class="navigation-bar">
        <a href="/" class="bar-item">Home</a>
        <a href="/catalogue/books" class="bar-item">Full Catalogue</a>
        <a href="/catalogue/pieces" class="bar-item">All Pieces in Catalogue</a>
        <a href="/catalogue/new-book" class="bar-item">Add New Book</a>
        <a href="/catalogue/new-piece" class="bar-item">Create New Piece</a>
        <a href="/catalogue/new-piece-location" class="bar-item">Add Piece to Book</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
