<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/index">Full Catalogue</a></li>
        <li>Create</li>
        <ul>
          <li><a href="/">Add Book</a></li>
          <li><a href="/">Add Piece</a></li>
          <li><a href="/">Add Piece to Book</a></li>
        </ul>
        <li>Edit</li>
        <ul>
          <li><a href="/">Edit Book</a></li>
          <li><a href="/">Edit Piece</a></li>
          <li><a href="/">Edit Piece Location</a></li>
        </ul>
        <li><a href="/">Remove Book</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
