<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>

      <ul>

        <li><a href="/">Home</a></li>
        <li>Show</li>

         <ul>
           <li><a href="/catalogue/books">Full Catalogue</a></li>
           <li><a href="/catalogue/pieces">All Pieces in Catalogue</a></li>
         </ul>

        <li>Create</li>

        <ul>
          <li><a href="/catalogue/new-book">Add New Book</a></li>
          <li><a href="/catalogue/new-piece">Create New Piece</a></li>
          <li><a href="/catalogue/new-piece-location">Add Piece to Book</a></li>
    </nav>
    <%= yield %>
  </body>
</html>
