<h1>Add New Book</h1>
<form action="/catalogue" method="post">
  <label for="name">Book name: </label>
    <input type="text" name="name" id="name">

  <label for="edition">Book edition</label>
    <input type="text" name="edition" id="edition">

  <input type="submit" value="Submit">

</form>
